<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image</key>
			<string>YXLiveScan</string>
			<key>title</key>
			<string>扫一扫登录</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image</key>
			<string>YXLiveSet</string>
			<key>title</key>
			<string>设置</string>
		</dict>
	</array>
    <array>
        <dict>
            <key>image</key>
            <string>YXLiveScan</string>
            <key>title</key>
            <string>扫一扫登录</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>image</key>
            <string>YXLiveScan</string>
            <key>title</key>
            <string>扫一扫登录</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>image</key>
            <string>YXLiveScan</string>
            <key>title</key>
            <string>扫一扫登录</string>
        </dict>
    </array>
    <array>
        <dict>
            <key>image</key>
            <string>YXLiveScan</string>
            <key>title</key>
            <string>扫一扫登录</string>
        </dict>
    </array>
</array>
</plist>
